# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment secrets
.env
.env.development
.env.production
.env.local
.env.*.local

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
